---
import AuthenticatedLayout from "../layouts/AuthenticatedLayout.astro";
import HistoryView from "../components/history/HistoryView";
---

<AuthenticatedLayout title="History - Pull-Up Trainer">
  <div class="min-h-screen bg-background text-foreground">
    <HistoryView client:load />
  </div>
</AuthenticatedLayout>
